<form action="/usuarioEdit" method="POST" enctype="multipart/form-data">
    <div class="div-login">
        <div class="tela_login">
            <input type="hidden" name="id" value="{{usuarios._id}}" id="div1">
            <p>Login:</p> <input type="text" class="form-control" name="login" value="{{usuarios.login}}" id="div1">
            <p>Senha:</p> <input type="text" class="form-control" name="senha" value="{{usuarios.senha}}" id="div1">
            <p>Pergunta Secreta:</p> <input type="text" class="form-control" name="pergunta_secreta"
                value="{{usuarios.pergunta_secreta}}" id="div1">
            <p>Resposta:</p> <input type="text" class="form-control" name="resposta_pergunta"
                value="{{usuarios.resposta_pergunta}}" id="div1">
            <br><br>

            <input type="submit" value="Editar">
        </div>
    </div>
</form>